/* === IMPORT === */

@import url('./animation.css');
@import url('./loader.css');
@import url('./typewriter.css');

/* === GLOBAL SETTINGS === */

body {
    background-color: #EFEFEF;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

/* === HEADER === */

.welcome {
    font-size: 1.2em;
    max-width: 60%;
    margin: auto;
}



.block {
    display: block;
    max-width: 55%;
    text-align: left;
}

.chapter-head {
    text-align:center; 
    padding: 20px; 
    font-weight: normal; 
    text-decoration: underline black 2px;
}

/* == Slider */

.slick {
  width: 100%;
  background-color: transparent;
  margin: 50px 0;
}

.slick h1 {
    color: #000;
}

#slick-head {
    text-align: center;
}

#slick-head h1 {
    display: inline-block;
}
#slick-head button{
    font-size: 2em;
    border: none;
    background: none;
}

#slick-head button:hover{
    color: #FFCC00;
    cursor: pointer;
}

/* #slick-head:before {
    font-family: FontAwesome;
    content: '\f177';
}

#slick-head:after {
    font-family: FontAwesome;
    content: '\f178';
} */

.slick h1:hover{
    color:red;
}


.slick-track {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 300px;
    justify-content: center;
  }

  .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: 100px 0px;
    margin: 10px;
    background-color: #EFEFEF;
    transition: all 0.3s ease;
    height: auto;
    text-align: center;
}
  
.slick-current,
.slick-center {
    background:rgb(255, 204, 0);
    padding: 100px 0px;
}

.slide-hash {
    color:darkred;
}


/* === LINK GALLERY === */

.elements {
    display: grid;
    padding: 1em 5em;
    padding-right: 1.5em;
    grid-template-columns: repeat(12, 8%);
    grid-template-rows: repeat(9, 3em);
    grid-template-areas:
    "🫀  🫀  🫀  🫀  .   .   🧠 🧠  🧠  🧠  🧠  🧠"
    ".   .   .   .   .   .   .   .   .   .   .   ."
    ".   .   .   .   .   .   .   .   .   .   .   ."
    ".   🦴  🦴  🦴   🦴  .   .   .   🩸  🩸  🩸 ."
    ".   .   .   .   .   .   .   .   .   .   .   ."
    ".   .   .   .   🫁  🫁  🫁  🫁  🫁  .   .   ."
    ".   .   .   .   .   .   .   .   .   .   .   ."
    ".   .   .   .   .   .   .   .   .   .   .   ."
    "💀  💀  💀  💀  .   .   .   .   .   .   .   ."
}

.element:nth-child(1) {
    grid-area: 🫀;
}

.element:nth-child(2) {
    grid-area: 🧠;
}

.element:nth-child(3) {
    grid-area: 🦴;
}

.element:nth-child(4) {
    grid-area: 🩸;
}

.element:nth-child(5) {
    grid-area: 🫁;
}

.element:nth-child(6) {
    grid-area: 💀;
}

.element span a {
    font-size: 42px;
    line-height: 34px;
    cursor: pointer;
    color: #000;
}

.element span a:hover {
    color: #FFCC00;
}

/* === GALLERY === */

.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #000;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

picture img {
    width: 100%;
    height: 100%;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

/* === FOOTER === */
#bottomBtn {
    position: fixed;
    top: 20px;
    right: 10%;
    width: 100px;
    padding: 10px 15px;
    box-shadow: 5px 5px;
    background-color: #FFCC00;
    border: #000;
    z-index: 100;
    display: none;
    animation: Btn-shake 2s infinite;
}

#bottomBtn:hover {
    
    background-color: #ffa600c9;
    box-shadow: 5px 5px;
    cursor: pointer;
    transition: 0.3s;
    
}

#bottomBtn:active {
    transform: scale(0.8);
}

.bottomMenu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #FFCC00;
    z-index: 50;
    text-align: center;
}

.bottomMenu div {
    display: inline-block;
    animation: spin 2s infinite;
}

.popup {
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height: 220px;
    padding: 0 23px;
    background: #000;
    color: #ccc;
    z-index: 100;
    opacity: 0;
}

.popup h2, h3 {
    text-align: center;
}

.popup span {
    color: #FFCC00;
}

.popup a {
    color: #FFCC00;
    border-bottom: 1px dashed #FFCC00;
}

.popup ul {
    list-style:none;
}
.popup ul li {
    margin: 20px;
}

.popup ul li::before {
    content: "💛 ";
}

.close-button {
    position: absolute;
    top: 5px;
    left: 3px;
    z-index: 1;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.close-button:hover {
    color: #FFCC00;
}


/* === RWD === */



@media screen and (min-width: 1025px ){
 
    .card-tall {
        grid-row: span 2 / auto;
    }
    
    .card-wide {
        grid-column: span 2 / auto;
    }
    
    .bottomMenu {
        height: 30px;
    }
}

@media screen and (max-width: 640px){
    
    .welcome {
        max-width: 80%;
    }
    
    .elements {
        padding: 3em 3em 1em;
        grid-gap: 2em;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, 2em);
        grid-template-areas:
        "🫀"
        "🦴"
        "🧠"
        "🫁"
        "🩸"
        "💀"
    }

    .block {
        max-width: 80%;
    }
    .popup {
        overflow-y: scroll;
    }

    .popup ul {
        padding: 0;
    }

    .popup ul li {
        margin: 18px 0;
    }
    
    #bottomBtn {
        position: fixed;
        top: 20px;
        right: 10%;
        width: 100px;
    }
    
    .bottomMenu {
        height: 55px;
    }
    
    #slick-head button {
        display: none !important;
    }

    .chapter-head {
        padding: 0
    }
}
