#loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.click_me {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color:#fff;
    opacity: 0;
    position: absolute;
    top: 20%;
}

.click_me:hover {
    cursor: pointer;  
}

.loading_text {
  animation: pulsing-fade 3000ms ease;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  z-index: 100;
  position: absolute;
  bottom: 25%;
  opacity: 0;
}

/* === RAINBOW === */

.loading {
	width: 200px;
	height: 30px;
	margin: 0 auto;
  overflow: hidden;
}

.item {
	float: left;
	width: 25px;
	height: 30px;
  border-radius:0px;
	animation: rainbow 2s infinite both;
}

/*** hover ***/

.item:hover{
  animation: rainbow 10s infinite both;
}

.item:nth-child(8n+2) {
	animation-delay: 150ms;
}

.item:nth-child(8n+3) {
	animation-delay: 300ms;
}

.item:nth-child(8n+4) {
	animation-delay: 450ms;
}

.item:nth-child(8n+5) {
	animation-delay: 600ms;
}

.item:nth-child(8n+6) {
	animation-delay: 750ms;
}

.item:nth-child(8n+7) {
	animation-delay: 900ms;
}

.item:nth-child(8n+8) {
	animation-delay: 1050ms;
}